<div class="top-bar">
    <a href="/auth/logout"><button>LOG OUT</button></a>
    <a href="/protected/map"><button>GO BACK TO MAP</button></a>
    <a href="/protected/user-profile"><button>USER PROFILE</button></a>
</div>

<br>
<div class="profile">

    <h1 id="username-title">{{userStories.username}}</h1>

    <br> <button class="follow">Follow</button>
    {{!-- <button class="trytofollow">TryToFollow</button> --}}
    <br>
    <br> {{#each userStories.stories}}
    <div class="user-story-container">
        <p>{{this.story}}</p>

        {{#if this.address.street}}
        <p>{{this.address.street}}</p>
        {{/if}} {{#if this.address.city_district}}
        <p>{{this.address.city_district}}</p>
        {{/if}} {{#if this.address.town}}
        <p>{{this.address.town}}</p>
        {{/if}} {{#if this.address.city}}
        <p>{{this.address.city}}</p>
        {{/if}} {{#if this.address.county}}
        <p>{{this.address.county}}</p>
        {{/if}} {{#if this.address.country}}
        <p>{{this.address.country}}</p>
        {{/if}}
        <p>{{moment this.created_at format="DD.MM.YYYY, HH:mm"}}</p>
    </div>
    <br> {{/each}}

    <ul>
        {{#each userStories.followingList}} <a href="/protected/user/{{this.this}}"><li>{{this}}</li></a>


        {{/each}}
    </ul>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src='/javascripts/follow.js'></script>